<% layout('layouts/boilerplate') -%>

<div class="mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-4">
            <div class="card">
                <i class="fa-solid fa-truck fa-8x mt-3"></i>
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Vehicules</h5>
                    <p class="card-text">
                        <a class="btn btn-outline-secondary btn-sm" href="/vehcules">consulter</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <i class="fa-solid fa-map-location-dot fa-8x mt-3"></i>
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Expeditions</h5>
                    <p class="card-text">
                        <a class="btn btn-outline-secondary btn-sm" href="/expidtions">consulter</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <i class="fa-solid fa-chart-column fa-8x mt-3"></i>
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Chartes</h5>
                    <p class="card-text">
                        <a class="btn btn-outline-secondary btn-sm" href="/customerCharts">consulter</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <i class="fa-solid fa-arrows-down-to-people fa-8x mt-3"></i>
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Transporteurs</h5>
                    <p class="card-text">
                        <a class="btn btn-outline-secondary btn-sm" href="/transporteurs">consulter</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <i class="fa-solid fa-location-dot fa-8x mt-3"></i>
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Suivi en temps reel</h5>
                    <p class="card-text">
                        <a class="btn btn-outline-secondary btn-sm" href="#">consulter</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <i class="fa-solid fa-clock-rotate-left fa-8x mt-3"></i>
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">Historique</h5>
                    <p class="card-text">
                        <a class="btn btn-outline-secondary btn-sm" href="#">consulter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
